################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QtApp/v16
/QtApp/x64
/x64/Debug
/x64/Release
/utest/x64
