.vs/**
.vscode/**
bin/**
*.exe
*.dll
*.lib
*.so
*.obj
*.bin

out/**
debug/**
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.ilk
*.aps

build/**
.cmake/**
*.log
*.tlog
*.pdb
*.recipe
*.rule
*.db
*.lastbuildstate
*.stamp
*.depend
*.check_cache
*.exp
*.cache
*.deps
