################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/QtApp/x64
/utest/x64
/utest/build
/utest/CMakeLists.txt
/x64
/build